/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'raleway';
    src: url('./assets/font/raleway/Raleway-Regular.ttf');
}

* {
    border: solid 1px red;
    margin: 0;
    padding: 0;
    font-family:'raleway';
}

/* *****HEADER***** */

header h1, header p {
    text-align: center;
    
    
}
header h1 {
    font-size: 2.5rem;
    margin: 5% 0% 0% 0%;
}
header p {
    margin: 2% 0% 5% 0%;  
}
header span {
    background-color: black;
    color: white;
    padding: 2px;
}
.flex {
    display: flex;
    width: 95%;
    margin: auto;
}

/* *****TITLE HEADING***** */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 58%;
    margin: 2% auto;
    
}

.title_heading {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 100%;
}
.title_heading img {
    width: 100%;
}
.title_heading h1, .title_heading h2, .title_heading p, .title_heading a {
    margin: 5% 2%;
    line-height: 1.5rem;
}
.title_heading h1 {
    font-size: 2rem;
    font-weight: 600;
}
.title_heading h2 {
    font-size: 1.5rem;
}
.date {
    color: gray;
}
.title_heading a {
    background-color: rgb(240, 238, 238);
    text-decoration: none;
    color: black;
    border: solid 1px black;
    padding: 1% 1%;
    margin-right: 58%;
    font-weight: 600;
}
.comments {
    display: inline-block;
    font-weight: 600;
    
}
.comments span {
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin-left: 0%;

}


/* *****BLOG ENTRY***** */

.blog_entry {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: 5%;

}
.blog_entry img {
    width: 100%;
}
.blog_entry h1, .blog_entry h2, .blog_entry p, .blog_entry a {
margin: 5% 2%;
line-height: 1.5rem;
}
.blog_entry h1 {
    font-size: 2rem;
    font-weight: 600;
}
.blog_entry h2 {
    font-size: 1.5rem;
}
.blog_entry a {
    background-color: rgb(240, 238, 238);
    text-decoration: none;
    color: black;
    border: solid 1px black;
    padding: 1% 1%;
    margin-right: 58%;
    font-weight: 600;
}
.blog_entry .comments span {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 100%;
    margin-left: 10%;
} 

/* *****MY NAME***** */
.container2 {
    display: flex;
    flex-wrap: wrap;
    width: 38%;
    margin: 2% auto;
    
    
}

.my_name {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.my_name img {
    width: 100%;
}
.my_name h1 {
    font-size: 2rem;
    font-weight: 600;
}
.my_name h1,.my_name p {
    margin: 2% 2%;
    line-height: 1.5rem;
}



/* *****POPULAR POSTS***** */

.popular_posts {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 100%;
    margin: 5% 0%;
    
}
.ppflex {
    display: flex;
    border-top: solid 1px rgba(0, 0, 0, 0.26);
    
}
.ppflex1 {
    padding: 2% 2%;
    width: 20%;

}
.ppflex2 {
    width: 80%;
    padding-top: 5%;
    margin-left: 5%;
}
.ppflex h1, .ppflex p {
    padding-top: 1.5%;
}
.ppflex h1 {
    font-weight: 600;
}
  
.titre {
    font-size: 1.5rem;
    background-color: rgb(240, 238, 238);
    padding: 5% 2%;
    
}
.popular_posts img {
    width: 100%;
}


/* *****TAGS***** */
.tags {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: 5%;
    /* height: 20vh; */
   
   

}
.tags p {
    font-size: 1.5rem;
    background-color: rgb(240, 238, 238);
    padding: 5% 2%;
}
.tags a {
    text-decoration: none;
    font-size: 0.8rem;
    background-color: rgb(240, 238, 238);
    color: black;
    margin: 2% 2%;
    padding: 1% 3%;
    display: inline-block;
}


/* *****FOOTER***** */
footer {
    text-decoration: none;
    margin-top: 2%;
    padding: 5% 0%;
    background-color: rgb(71, 71, 71);
    color: white;
}
.previous {
    background-color: rgb(94, 90, 90);
    padding: 1.5% 3%;
    margin: 1% 1%;
    color: rgba(255, 255, 255, 0.37);
}
.next {
    background-color: black;
    padding: 1.5% 3%;
    margin: 1% 1%;
    color: white;
}
footer p {
    margin: 5% 1%;
}



























